<!doctype html>
<html lang="ru">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="icon" type="image/png" sizes="80x62" href="../static/favicon.png">
    <title>Книги по научной фантастике</</title>
  </head>
  <body>
  <div class="container">
    <div class="nav justify-content-center">
      <nav class="mt-4" aria-label="Page books navigation">
        <ul class="pagination">
          {% for _ in range(max_pages) %}
            {% if loop.first %}
              {% if page == 1 %}
                <li class="page-item disabled">
                  <span class="page-link">Назад</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{{'index{}.html'.format(page-1)}}">Назад</a>
                </li>
              {% endif %}
            {% endif %}
              <li class="page-item {% if page == loop.index %} active {% endif %}">
                <a class="page-link" href="{{'index{}.html'.format(loop.index)}}">{{loop.index}}</a>
              </li>
            {% if loop.last %}
              {% if page == max_pages %}
                <li class="page-item disabled">
                  <span class="page-link">Вперед</span>
                </li>
              {% else %}
                <li class="page-item">
                  <a class="page-link" href="{{'index{}.html'.format(page+1)}}">Вперед</a>
                </li>
              {% endif %}
            {% endif %}
          {% endfor %}
        </ul>
      </nav>
    </div>
    <div class="row">
      {% for book in books %}
      <div class="card col-6" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{{book.book_cover_url}}" class="card-img" alt="{{book.title}}">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{book.title}}</h5>
              <p class="card-text">{{book.author}}</p>
              {% for genre in book.genre %}
                <span class="badge badge-pill badge-light mb-3">{{genre}}</span>
              {% endfor %}
              <p class="card-text"><small class="text-muted"><a target="_blank" href="../{{book.file_path|urlencode}}">Читать</a></small></p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="../static/jquery-3.5.1.slim.min.js"></script>
    <script src="../static/bootstrap.bundle.min.js"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>